<%- include('./partials/_head', { title : '404' }) %> 
<header class="header">
   <p>Welcome to node.js + express</p>
</header>

<main class="main">
   <h1>404 : Page not Found !</h1>
</main>

<%- include('./partials/_footer') %> 
