<%- include('./partials/_head', { title : 'NODE.JS - EXPRESS' }) %> 
<header class="header">
   
</header>

<main class="main">
   <h1>Welcome to node.js + express</h1>
   <img src="/images/node-express.png" alt="node.js and express logo">
   <p>
      <a class="links" href="/html">HTML FILE</a>
      <a class="links" href="/text">HTML TEXT</a>
   </p>
</main>

<%- include('./partials/_footer') %> 
